<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ExoOAuth3LeggedCallback</servlet-name>
        <servlet-class>net.oauth.example.consumer.ExoOAuth3LeggedCallback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GateIn2LeggedConsumerServlet</servlet-name>
        <servlet-class>net.oauth.example.consumer.servlet.GateIn2LeggedConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GateIn3LeggedConsumerServlet</servlet-name>
        <servlet-class>net.oauth.example.consumer.servlet.GateIn3LeggedConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orkut2LeggedConsumerServlet</servlet-name>
        <servlet-class>net.oauth.example.consumer.servlet.Orkut2LeggedConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Google3LeggedConsumerServlet</servlet-name>
        <servlet-class>net.oauth.example.consumer.servlet.Google3LeggedConsumerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Yahoo3LeggedConsumerServlet</servlet-name>
        <servlet-class>net.oauth.example.consumer.servlet.Yahoo3LeggedConsumerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExoOAuth3LeggedCallback</servlet-name>
        <url-pattern>/OAuth/ExoOAuth3LeggedCallback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GateIn2LeggedConsumerServlet</servlet-name>
        <url-pattern>/GateIn2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GateIn3LeggedConsumerServlet</servlet-name>
        <url-pattern>/GateIn3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orkut2LeggedConsumerServlet</servlet-name>
        <url-pattern>/Orkut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Google3LeggedConsumerServlet</servlet-name>
        <url-pattern>/Google</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>Yahoo3LeggedConsumerServlet</servlet-name>
        <url-pattern>/Yahoo</url-pattern>
    </servlet-mapping>
</web-app>