<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
   <display-name>portal</display-name>
   <filter>
      <filter-name>PortalContainerInitializedFilter</filter-name>
      <filter-class>org.exoplatform.ws.frameworks.servlet.PortalContainerInitializedFilter</filter-class>
   </filter>
   <filter>
      <filter-name>ExoOAuth3LeggedFilter</filter-name>
      <filter-class>net.oauth.example.provider.servlets.ExoOAuth3LeggedFilter</filter-class>
   </filter>
   <filter>
      <filter-name>ExoOAuth2LeggedFilter</filter-name>
      <filter-class>net.oauth.example.provider.servlets.ExoOAuth2LeggedFilter</filter-class>
   </filter>
   <filter>
      <filter-name>RestEncodingFilter</filter-name>
      <filter-class>org.exoplatform.services.rest.servlet.RestEncodingFilter</filter-class>
      <init-param>
         <param-name>REQUEST_ENCODING</param-name>
         <param-value>UTF-8</param-value>
      </init-param>
   </filter>

   <filter-mapping>
      <filter-name>PortalContainerInitializedFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>ExoOAuth2LeggedFilter</filter-name>
      <url-pattern>/rest/SocialRest/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>ExoOAuth3LeggedFilter</filter-name>
      <url-pattern>/rest/SimpleRest/*</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>ExoOAuth3LeggedFilter</filter-name>
      <url-pattern>/echo</url-pattern>
   </filter-mapping>
   <filter-mapping>
      <filter-name>RestEncodingFilter</filter-name>
      <url-pattern>/rest/*</url-pattern>
   </filter-mapping>

   <!-- ========================================================= -->
   <!-- SERVLET -->
   <!-- ========================================================= -->

   <servlet>
      <servlet-name>ExoRequestTokenServlet</servlet-name>
      <servlet-class>net.oauth.example.provider.servlets.ExoRequestTokenServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ExoAuthorizationServlet</servlet-name>
      <servlet-class>net.oauth.example.provider.servlets.ExoAuthorizationServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>ExoAccessTokenServlet</servlet-name>
      <servlet-class>net.oauth.example.provider.servlets.ExoAccessTokenServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>OAuthProtectedServlet</servlet-name>
      <servlet-class>net.oauth.example.provider.servlets.OAuthProtectedServlet</servlet-class>
   </servlet>
   <servlet>
      <servlet-name>RestServer</servlet-name>
      <servlet-class>org.exoplatform.services.rest.servlet.RestServlet</servlet-class>
      <load-on-startup>4</load-on-startup>
   </servlet>

   <servlet-mapping>
      <servlet-name>ExoRequestTokenServlet</servlet-name>
      <url-pattern>/request_token</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ExoAuthorizationServlet</servlet-name>
      <url-pattern>/authorize</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>ExoAccessTokenServlet</servlet-name>
      <url-pattern>/access_token</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>OAuthProtectedServlet</servlet-name>
      <url-pattern>/echo</url-pattern>
   </servlet-mapping>
   <servlet-mapping>
      <servlet-name>RestServer</servlet-name>
      <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>

   <session-config>
      <session-timeout>30</session-timeout>
   </session-config>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
   </welcome-file-list>
</web-app>
